<% provide(:title, "このサイトについて") %>
<h1>SAKE BAGについて</h1>
<h2>このサイトは酒飲みが作る、酒飲みのための、酒レビュー投稿サイトです。</h2>
<h3>〜使い方〜</h3><br>
<h4>◯ お酒を呑む</h4>
<p>とにもかくにも、まずはお酒を呑むこと。<br>
日々の飲み会、晩酌等で自分の好きなお酒を飲みましょう。</p>
<h4>◯ 記録、投稿</h4>
<p>記憶は古いものから順に消えていきます。もちろん美味しかったお酒の味も。<br>
忘れないように飲んだお酒のレビューを記録し、投稿してみましょう。</p>
<h4>◯ レビューの確認</h4>
<p>あのとき飲んだお酒の味を思い出してみましょう。<br>
また、他の人のお酒のレビューも閲覧できます。<br>
</p><br>


<h3>〜SAKE BAGてなに？？〜</h3><br>
<h4>◯ SAKE BAGの意味</h4>
<p>SAKE BAGとは日本語で酒袋の意味。<br>
酒袋とはお酒を造る際に使う袋のことで、この袋の中に材料をいれて旨味を絞り出すことでお酒がより美味しく仕上がります(たぶん)</p><br>

<p>お酒の味をよりよくすることを目的に酒袋を使うように、お酒を飲んだ「思い出」という材料をSAKE BAGという器に入れることで、日々の酒飲みがより良いものになればいいなという願いを込めています。</p>



