<% provide(:title, 'お問い合わせ') %>
<h1>お問い合わせ</h1>
<h4>お問い合せ</h4>
<p>下記までご連絡ください。</p><br>
<i>酒袋 太郎</i><br>
<i>〒xxx-xxxx　xx県xx市xx町x-x-x</i><br>
<i>TEL:XXX-XXX-XXXX FAX:XXX-XXX-XXXX</i><br>
<i>Mail:info@example.co.jp</i><br><br>
