<% provide(:title, "ホーム") %>
<div>
  <%= link_to image_tag("sake1.jpg", alt: "sake photo")%>
  <h2>SAKE BAGへようこそ！</h2>
  <p>
    お酒との一期一会を記録しよう。自分だけのお酒の軌跡。
  </p>
  <ul>
    <li>
      <h3>呑む！！</h3>
      <p>今日も楽しく乾杯</p>
    </li>
    <li>
      <h3>撮る！！</h3>
      <p>お酒との思い出の一枚を</p>
    </li>
    <li>
      <h3>メモ！！</h3>
      <p>抱いた感想を記録</p>
    </li>
  </ul>
</div>
