 <%= form_with(model: current_user.active_relationships.find_by(followed_id: user.id), html: { method: :delete }) do |f| %>
  <div><%= hidden_field_tag :followed_id, users.id %></div>
  <div class="index-unfollow">
    <%= f.submit "フォロー中", class: "index-follow-btn index-unfollow-btn" %>
    <%= f.submit "フォロー解除", class: "index-unfollow-hover" %>
  </div>
  <script>
    $('.index-unfollow').hover(
      function(){
        $(this).find('.index-unfollow-btn').hide();
        $(this).find('.index-unfollow-hover').show();
      },
      function () {
        $(this).find('.index-unfollow-btn').show();
        $(this).find('.index-unfollow-hover').hide();
      }
    );
  </script>
<% end %>