@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


//-----------------------------------------------
//共通

body {
  background-color: #E6E6E6;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

//-----------------------------------------------
//header

.navbar{
  border-radius: 0px;
  margin: 0;
}


#logo {
  float: left;
  margin-right: 10px;
  padding-top: 4px;
  font-size: 2.0em;
  color: #FFF;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


//-----------------------------------------------
//main


.sake-image {
  width: 100%;
  height: 580px;
  object-fit: cover;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and(max-width: 767px) {
  .sake-image{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.main-content {
  // background-color: white;
  // width: 100vw;
  // position: relative;
  // left: 50%;
  // transform: translateX(-50%);
  padding: 0;
  padding-top: 20px;
  text-align: center;
}

.main-h2-p {
  width: 600px;
  margin: 0 auto;
  > h2 {
    font-size: 35px;
    color: black;
  }
  > p {
    font-size: 18px;
    margin-bottom: 50px;
  }
}

@media screen and(max-width: 767px) {
  .main-h2-p {
    width: 100%;
  }
}

.feature {
  margin-bottom: 30px;
  > h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.main-li {
  list-style: none;
  display: inline-block;
}



.list-flex {
  display: flex;
  align-items: center;
  margin: 20px 30px 20px 0;
}

//-----------------------------------------------
//review
.main-review{
  text-align: center;
  padding-top: 20px;
}

.review-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}


.review-content-i {
  background-color: white;
  width: 260px;
  height: 380px;
  padding: 10px 0;
  margin: 30px;
}

.review-image {
  width: 220px;
  height: 220px;
  margin: 0 auto;
}

.sake-image-i {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.review-user-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.review-nav {
  text-align: left;
  margin: 10px 20px;
}


.review-user-star > p {
  margin: 0;
  font-size: 12px;
}

.review-comment {
  text-align: left;
    > p {
    font-size: 12px;
    margin: auto 20px;
    }
}


.sake-log-more{
  margin: 0 auto;
  padding: 50px 0;
  width: 250px;
  > a {
    width: 100%;
  }
}



//-----------------------------------------------
//会員登録
.main {
  margin: 0 auto;
}

.center {
  width: 480px;
  margin: 80px auto;
  padding: 30px;
  background-color: white;
  
}

.new-h2 {
  font-size: 150%;
  color: black;
  padding-bottom: 10px;
  border-bottom: 1px solid #C4C7CC;
}

input, textarea{
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.new-p {
  font-size: 13px;
  margin-bottom: 15px;
}

//-----------------------------------------------
//_error_messages

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


//-----------------------------------------------
//login

.new-signup {
  margin-top: 10px;
  margin-bottom: 0;
}

.checkbox {
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


//-----------------------------------------------
//show

.main-show{
  text-align:center;
}

.user-profile {
  padding-top: 40px;
  padding-bottom: 40px;
}

.user-profile-body {
  width: 100%;
  height:400px;
  margin: 0 auto;
  position: relative;
}

.cover-image {
  width: 100%;
  height:400px;
  object-fit: cover;
}

@media screen and(max-width: 992px) {
  .cover-image{
    width: 100%;
    height: 200px;
  }
}

.user-image {
  width: 100%;
  height: 100%;
}

@media screen and(max-width: 767px) {
  .user-image{
    // width: 100%;
    // height: 200px;
  }
}


.user-profile-image {
  width: 160px;
  height: 160px;
  background-color: white;
  padding: 5px;
  position: absolute;
  top: 230px;
  left: 20px;
  z-index: 1;
  border: 1px solid #ddd;
  border-radius: 3px;
}

@media screen and(max-width: 992px) {
  .user-profile-image{
    width: 70px;
    height: 70px;
    top: 120px;
    left: 20px;
    padding: 2px;
  }
}



.user-profile-info {
  position: absolute;
  top: 290px;
  left: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 700px;
  padding: 20px;
}

@media screen and(max-width: 992px) {
  .user-profile-info{
    width: 200px;
    position: absolute;
    top: 155px;
    left: 110px;
    padding: 10px;
  }
}

.user-profile-name {
  font-size: 30px;
  color: white;
  letter-spacing: 1px;
  margin: 0;
  text-align: left;
}

@media screen and(max-width: 992px) {
  .user-profile-name{
    font-size: 12px;
    letter-spacing: 0;
    width: 200px;
    margin: 0;
    overflow: hidden;
  }
}




.user-tab {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: white;
  margin: 0;
  > .user-tab-nav {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    border-left: 1px solid #ddd;
     > a{
       display: block;
       float: left;
       text-decoration: none;
       font-weight: bold;
     }
     > span{
       float: right;
       margin-left: 3px;
     }
  }
  }

@media screen and(max-width: 992px) {
  .user-tab{
    height: 210px;
    padding: 0;
  > .user-tab-nav {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
     > a{
      
     }
     > strong{

     }
  }
  }
}

.title{
	pointer-events: none;
  display: none;
}
@media screen and (max-width: 992px){
	.title{
		pointer-events: all;
    display: block;
    border-bottom: 1px solid #ddd;
    background-color: white;
    margin: 0;
    font-weight: bold;
    height: 35px;
    padding-top: 4px;
	}
	
	.toggle{
		display: none;
	}
}


//-----------------------------------------------
//マイページ管理
.edit-user-image{
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

.edit-cover-image{
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
}




//-----------------------------------------------
//ユーザー一覧

.index-main {
  text-align: center;
}

.users {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 1000px;
  li {
    border: 1px solid #ccc;
    margin: 10px;
  }
}

.index-user{
  display: flex;
  background-color: white;
  width: 250px;
  height: 100%;
  padding: 0;
}


.index-user-image {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.index-user-name > a{
  color: black;
  font-size: 15px;
}







//-----------------------------------------------
//footer


footer {
  text-align: center;
  color: #C4C7CC;
}


.copyright {
  margin-bottom: 20px;
}


.foot_support{
  padding: 0;
  margin-bottom: 0;
}

.footer-li {
  list-style: none;
  display: inline-block;
  margin: 15px;
  > a {
    display: block;
    color: #C4C7CC;
    &:hover {
      text-decoration: none;
      color: whitesmoke;
    }
  }
}

@media screen and(max-width: 767px) {
  .footer-li{
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(77, 75, 75);
  }
}



