<footer>
  <div class="navbar navbar-inverse">
    <div class="container">
      <div>
        <ul class="foot_support">
          <li>
            <%= link_to("ヘルプ", help_path, :style => "color: #C4C7CC;")%>
          </li>
          <li>
            <%= link_to("お問い合わせ", contact_path, :style => "color: #C4C7CC;")%>
          </li>’’
          <li>
            <%= link_to("利用規約", terms_of_service_path, :style => "color: #C4C7CC;")%>
          </li>
          <li>
            <%= link_to("個人情報保護方針", privacy_policy_path, :style => "color: #C4C7CC;")%>
          </li>
        </ul>
      </div>

      <div class="copyright">
        Copyright © 2021 SAKEBAG. All Rights Reserved.
      </div>
    </div>
  </div>
</footer>